<section class="card">
    <div class="card-body">

        <h1>about</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ut facere nemo debitis, obcaecati vero velit neque officiis excepturi possimus?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eos, ipsum eum architecto commodi quo incidunt voluptatibus maxime et quae quod non hic consequuntur. Voluptas labore illum eligendi maiores! Qui.</p>
    </div>
</section>