
    <div class="jumbotron mt-4">

         <h1 class="display-4">Notes App Nodejs and MongoDB </h1>
         <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid, hic blanditiis magni nemo cumque dolor.</p>
         <hr class="my-4">
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nesciunt, dolore expedita incidunt velit eum. Voluptates cum sint laboriosam voluptas. </p>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nesciunt, dolore expedita incidunt velit eum. Voluptates cum sint laboriosam voluptas. </p>
         <a href="www.google.com" class="btn btn-primary">google</a>
    </div>
   